# Random stuff that's only on my comp probs - remove this later
test_scripts
EXAMPLES
src/pacman/TODO.txt
*plans.txt


# model training data (I'll delete most of it, only keep da best/interesting ones) and push them later
ai-models/DQN
ai-models/**/run*


Environment
.env


__pycache__


Pycharm stuff
.idea/**
